chardet==7.4.3
click==8.3.3
colorama==0.4.6
diff_cover==10.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
PyYAML==6.0.3
regex==2026.5.9
sqlfluff==4.2.2
tblib==3.2.2
tqdm==4.68.3
